body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 800px;
}

.main{
    background-image: linear-gradient(to top, #444040,#0e0d0d);
    height: 600px;
    width: 30%;
    border-radius: 20px;
    padding: 30px;
}
.screen{
    background-image: linear-gradient(to right, #5e5959, #8a8f8a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 96%;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    justify-content: flex-end;
    padding-right: 10px;
    border: 2px solid white;
    border-radius: 30px;
}
.value{
    text-align: right;
}
.button{
    padding-top: 30px;
}
.firstR{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 0 10px;
    height: 70px;
    width: 90px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: grey;
    cursor: pointer;
}
.btn:hover{
    animation-name: pulse;
    animation-duration: 1s;
    opacity: 55%;
}

.C{
    background-color: red;
}
.num{
    background-color: #141313;
}
.iet{
    background-color: rgb(28, 28, 167);
}

@keyframes pulse {
50%{
    transform: scale(1.1);
}
}
/* Media query for smaller screens */
@media (max-width: 500px) {
    .main {
        width: 80%;
        height: 350px;
    }

    .button .btn {
        font-size: 16px;
        height:50%;
        width: 50%;

    }
    body{
        height: 600px;
        
    }
}

@media (max-width: 1000px) {
    .main {
        width: 300px;
        height: 350px;
    }

    .button .btn {
        font-size: 16px;
        height:50%;
        width: 50%;

    }
}