.navbar{
    background-color: black;
    height: 80px;
    display: flex;
}
body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.logo{
    flex-grow: 0.3;
    color: aquamarine;
    padding-left: 25px;

}
.menu{
    flex-grow: 1;
    padding-left: 400px;
    padding-top: 15px;
}
li{
    display: flex;
    display: inline-block;
    color: aquamarine;
    text-align: right;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    padding-left: 100px;
}
li:hover{
    color: red;
}
.image{
    justify-content: right;
    align-items: right;
    padding-left: 500px;
    display: inline-block;
}
.imgm{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: flex-end;
}
.heading{
    color:white;
    font-size: 25px;
    padding-left: 100px;
}
.heading > h1{
    color: aquamarine;
}
.skills{
    color: aquamarine;
}
button{
    background-color:aquamarine;
    font-size: 18px;
    height: 50px;
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
}
button:hover{
    background-color: red;
    color: black;
    font-size: 20px;

}
.image > img {
    width: 700px;
    padding-right: 50px;
}